.left-sidebar{
    .logo-sidebar{
        padding: 30px 12px 16px;
        margin: 0px 0px 19px;
    }
    h3{
        color: aliceblue;
        font-weight: 600;
        font-size: 16px;
        margin-left: 16px; 
    }
    .logo{
        margin: 0px 0px 19px;
        padding: 25px 12px 16px;
        cursor: pointer;
        
    }

        .sidebar-menu{
            .sidebar-option{
                display: flex;
                align-items: center;
                cursor: pointer;
                padding: 14px;
                margin: 4px 0px;
                
            }
            .show-more {
                align-items: center;
                position: relative;
                top: 116px;
            }           
        }    
}